.homeContainer{
    height: 600px;
    width: 100%;
}
.topHome{
    height: 70px;
    width: 100%;
}
.bodyHome{
    height: 100%;
    width: 100vw;
    background-image: url('BackgroundPhoto.jpg');
    background-size: cover; 
    background-position:center;
    margin-top: -32px; 
    margin-left: -76px;
}

.bodyHome h1 {
    color: white;
    font-weight: 700;
    font-family: sans-serif; /* Changed property name */
    padding-top: 15%;
}