.navbar {
    width: 100% !important;
    position:fixed!important;
    top: 0px !important;
    right: 0px !important;
    background-color: rgb(3, 74, 180) !important;
    height: 70px !important;
    
}
.nav-link {
    font-size: 20px !important;
    font-weight:normal !important;
    color: white !important;
}
